# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.local
.env.*.local

# Dependency directories
node_modules/
vendor/

# Build output
dist/
build/
out/
coverage/

# Temporary files
*.tmp
*.swp
*.bak
*.swo
*.orig

/src/generated/prisma
